container_commands:
  01_permissions:
    command: "touch db.sqlite3 && chmod 777 . && chmod 666 db.sqlite3 && chown -R webapp:webapp . || true"
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput || true"
    leader_only: true
  03_post_permissions:
    command: "chmod 777 . && chmod 666 db.sqlite3 && chown -R webapp:webapp . || true"
